<nav>
	<ul>
		<li>
			<a href="#">News</a>
		</li>
		<li>
			<a href="#">Research</a>
		</li>
		<li>
			<a href="#">Donate</a>
		</li>
		<li>
			<a href="#">Contact</a>
		</li>
	</ul>
</nav>
<main>
	<article>
		<h2>Consectetur adipiscing elit</h2>
		<p class="news-author">Dany Lany</p>
		<p class="news-date">Aug. 27, 2020</p>
		<div class="news-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut felis at neque scelerisque
				condimentum. Phasellus sed urna eu diam pellentesque lacinia. Etiam iaculis non dolor et egestas. Nam
				quis augue imperdiet magna ultricies dignissim in tempor lacus. Donec tristique egestas urna at
				scelerisque. Curabitur at risus tempus elit auctor congue a eu justo. Pellentesque habitant morbi
				tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse efficitur molestie
				euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus massa, blandit ac orci eu,
				dapibus mattis elit. Nunc euismod risus quis orci fringilla, eget consequat turpis semper. Proin et quam
				neque.</p>
			<p>Nullam vitae magna iaculis, ornare ante eget, placerat lectus. In laoreet tellus nec eros egestas
				faucibus. Ut auctor orci vitae magna fermentum, vitae egestas erat mattis. Morbi tortor nisl, ultrices
				volutpat tempus nec, ultricies id sapien. Maecenas ut eleifend sapien, nec condimentum nulla.
				Pellentesque in sagittis mauris. Phasellus finibus dignissim pulvinar. Proin lobortis justo nec laoreet
				porttitor. Praesent viverra eu magna id finibus. Nullam tristique libero felis, eu ultricies augue
				pulvinar ac.</p>
		</div>
	</article>

	<article>
		<h2>Nulla purus massa</h2>
		<p class="news-author">Lou Woo</p>
		<p class="news-date">Aug. 27, 2020</p>
		<div class="news-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut felis at neque scelerisque
				condimentum. Phasellus sed urna eu diam pellentesque lacinia. Etiam iaculis non dolor et egestas. Nam
				quis augue imperdiet magna ultricies dignissim in tempor lacus. Donec tristique egestas urna at
				scelerisque. Curabitur at risus tempus elit auctor congue a eu justo. Pellentesque habitant morbi
				tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse efficitur molestie
				euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla purus massa, blandit ac orci eu,
				dapibus mattis elit. Nunc euismod risus quis orci fringilla, eget consequat turpis semper. Proin et quam
				neque.</p>
			<p>Nullam vitae magna iaculis, ornare ante eget, placerat lectus. In laoreet tellus nec eros egestas
				faucibus. Ut auctor orci vitae magna fermentum, vitae egestas erat mattis. Morbi tortor nisl, ultrices
				volutpat tempus nec, ultricies id sapien. Maecenas ut eleifend sapien, nec condimentum nulla.
				Pellentesque in sagittis mauris. Phasellus finibus dignissim pulvinar. Proin lobortis justo nec laoreet
				porttitor. Praesent viverra eu magna id finibus. Nullam tristique libero felis, eu ultricies augue
				pulvinar ac.</p>
		</div>
	</article>
</main>